@font-face {
  font-family: pixelFont;
  src: url(fonts/Pixeled.ttf);
}

@font-face {
  font-family: gulim;
  src: url(fonts/gulim.otf)
}

html {
     cursor: crosshair;
}

h2 {
     text-decoration: line-through;
     cursor: crosshair;
   }

h1 {
     font-family: pixelFont;
     cursor: crosshair;
}

#monker {
     font-family: pixelFont;
     cursor: crosshair;
}

body {
	background: linear-gradient(-45deg, #8AF7A7, #40F570, #42754F, #32C259);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
     cursor: crosshair;
}

#result {
     font-family: pixelFont;
     cursor: crosshair;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html::-webkit-scrollbar {
     display: none;
     cursor: crosshair;
   }

#countButton {
     display: inline-block;
     vertical-align: middle;
     -webkit-transform: perspective(1px) translateZ(0);
     transform: perspective(1px) translateZ(0);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-property: transform;
     transition-property: transform;
     font-family:  pixelFont;
     cursor: crosshair;
}

#countButton:hover{
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
     font-family:  pixelFont;
     cursor: crosshair;
   }

#countButton:active {
     -webkit-transform: scale(0.99);
     transform: scale(0.9);
     font-family:  pixelFont;
     cursor: crosshair;
}

#buy {
     background: #e6373a;
     opacity: 1;
     border-radius: 3px;
     box-shadow: 0 3px 0px 0px #a31417;
     transition: all .2s ease;
     font-size: 20px;
     border:0;
     font-family: gulim;
     cursor: crosshair;
}
#buy:hover, #buy:focus {
     transform: translateY(-2px);
     box-shadow: 0 5px 0px 0px #a31417;
     font-family: gulim;
     cursor: crosshair;
}

#buy:active {
     background: #a31417;
     box-shadow: 0 0 0 0 #48090a;
     transform: translateY(3px);
     font-family: gulim;
     cursor: crosshair;
}

#divcursor {
     z-index: 1;
     font-size: 20px;
     position:relative;
     float: right;
     padding-left: 30px;
     font-family: gulim;
}

#buyBanana {
     background: #e6373a;
     opacity: 1;
     border-radius: 3px;
     box-shadow: 0 3px 0px 0px #a31417;
     transition: all .2s ease;
     font-size: 20px;
     border:0;
     font-family: gulim;
     cursor: crosshair;
}
#buyBanana:hover, #buyBanana:focus {
     transform: translateY(-2px);
     box-shadow: 0 5px 0px 0px #a31417;
     font-family: gulim;
     cursor: crosshair;
}

#buyBanana:active {
     background: #a31417;
     box-shadow: 0 0 0 0 #48090a;
     transform: translateY(3px);
     font-family: gulim;
     cursor: crosshair;
}

#bananacursor {
     font-size: 20px;
     position:relative;
     float: right;
     padding-left: 30px;
     font-family: gulim;
}

#buyNursery {
     background: #e6373a;
     opacity: 1;
     border-radius: 3px;
     box-shadow: 0 3px 0px 0px #a31417;
     transition: all .2s ease;
     font-size: 20px;
     border:0;
     font-family: gulim;
     cursor: crosshair;
}
#buyNursery:hover, #buyNursery:focus {
     transform: translateY(-2px);
     box-shadow: 0 5px 0px 0px #a31417;
     font-family: gulim;
     cursor: crosshair;
}

#buyNursery:active {
     background: #a31417;
     box-shadow: 0 0 0 0 #48090a;
     transform: translateY(3px);
     font-family: gulim;
     cursor: crosshair;
}

#nurserycursor {
     font-size: 20px;
     position:relative;
     float: right;
     padding-left: 30px;
     font-family: gulim;
}

#buyTribe {
     background: #e6373a;
     opacity: 1;
     border-radius: 3px;
     box-shadow: 0 3px 0px 0px #a31417;
     transition: all .2s ease;
     font-size: 20px;
     border:0;
     font-family: gulim;
     cursor: crosshair;
}
#buyTribe:hover, #buyTribe:focus {
     transform: translateY(-2px);
     box-shadow: 0 5px 0px 0px #a31417;
     font-family: gulim;
     cursor: crosshair;
}

#buyTribe:active {
     background: #a31417;
     box-shadow: 0 0 0 0 #48090a;
     transform: translateY(3px);
     font-family: gulim;
     cursor: crosshair;
}

#tribecursor {
     font-size: 20px;
     position:relative;
     float: right;
     padding-left: 30px;
     font-family: gulim;
}

#buyZoo {
     background: #e6373a;
     opacity: 1;
     border-radius: 3px;
     box-shadow: 0 3px 0px 0px #a31417;
     transition: all .2s ease;
     font-size: 20px;
     border:0;
     font-family: gulim;
     cursor: crosshair;
}
#buyZoo:hover, #buyZoo:focus {
     transform: translateY(-2px);
     box-shadow: 0 5px 0px 0px #a31417;
     font-family: gulim;
     cursor: crosshair;
}

#buyZoo:active {
     background: #a31417;
     box-shadow: 0 0 0 0 #48090a;
     transform: translateY(3px);
     font-family: gulim;
     cursor: crosshair;
}

#zoocursor {
     font-size: 20px;
     position:relative;
     float: right;
     padding-left: 30px;
     font-family: gulim;
}

#buyJungle {
     background: #e6373a;
     opacity: 1;
     border-radius: 3px;
     box-shadow: 0 3px 0px 0px #a31417;
     transition: all .2s ease;
     font-size: 20px;
     border:0;
     font-family: gulim;
     cursor: crosshair;
}
#buyJungle:hover, #buyJungle:focus {
     transform: translateY(-2px);
     box-shadow: 0 5px 0px 0px #a31417;
     font-family: gulim;
     cursor: crosshair;
}

#buyJungle:active {
     background: #a31417;
     box-shadow: 0 0 0 0 #48090a;
     transform: translateY(3px);
     font-family: gulim;
     cursor: crosshair;
}

#junglecursor {
     font-size: 20px;
     position:relative;
     float: right;
     padding-left: 30px;
     font-family: gulim;
}

#widthTest {
     height: max-content;
}
